<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
    <script id="tplModalDelete" type="text/x-handlebars-template">
        <form method="post" action="{{ action }}" class="validate" enctype="application/json">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">刪除玩家</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="playerID" name="playerID" value="{{ id }}" />
                <p>確定要刪除 編號 {{ unique_id }} 嗎？</p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger">是的，刪除</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </form>
    </script>
</head>
<body class="container">

    <header>
        <% include partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-md-12">
                <% if (player) { %>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" class="manage-column">識別碼</th>
                                <th scope="col" class="manage-column">得到</th>
                                <th scope="col" class="manage-column">達成線數</th>
                                <th scope="col" class="manage-column">從哪登入</th>
                                <th scope="col" class="manage-column">狀態</th>
                                <th scope="col" class="manage-column">名字</th>
                                <th scope="col" class="manage-column">地址</th>
                                <th scope="col" class="manage-column">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% player.forEach(function(item){ %>
                            <tr>
                                <td><%= item.unique_id %></td>
                                <td><%= item.type %></td>
                                <td><%= item.lines %></td>
                                <td><%= item.from %></td>
                                <td><%= item.status %></td>
                                <td><%= item.name %></td>
                                <td><%= item.address %></td>
                                <td>
                                    <button class="btn btn-danger" id="btnDelete-<%= item.id %>" value="<%= item.id %>" data-toggle="modal" data-target="#modalDelete" uid="<%= item.unique_id %>">刪除</button>
                                </td>
                            </tr>
                        <% }) %>
                        </tbody>
                    </table>
                <% } %>
            </div>
        </div>
    </main>

    <div id="modalDelete" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
        <!-- Modal content-->
            <div class="modal-content">
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var tplModalDelete = Handlebars.compile($("#tplModalDelete").html());
        $("[id^=btnDelete-]").click(function(){
            $("#modalDelete .modal-content").html( tplModalDelete( { 
                id: this.value, 
                unique_id: $(this).attr('uid'),
                action: "/console/player/remove"
            } ) );
        });
    </script>
    <footer>
        <% include partials/footer %>
    </footer>
</body>
</html>