<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
    <script id="tplOptions" type="text/x-handlebars-template">
        {{#each options}}
        <div class="row option-row">
            <input type="hidden" name="optionID" value="{{ id }}" />
            <div class="col-md-2">
                <input type="radio" name="optionCorrect" class="checkbox option-radio" {{#if is_answer}}checked="checked"{{/if}}value="{{ content }}" />
            </div>
            <div class="col-md-8">
                <input type="text" name="strOption" class="form-control option-text" value="{{ content }}" />
            </div>
            <div class="col-md-2">
                <button class="btn btn-danger" type="button">
                    <i class="glyphicon glyphicon-minus"></i>
                </button>
            </div>
        </div>
        {{/each}}
    </script>
    <script id="tplQuestions" type="text/x-handlebars-template">
        <form method="post" action="{{ action }}" class="validate" enctype="application/json">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ title }}</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="questionID" name="questionID" value="{{ id }}" />
                <input type="hidden" id="tranRemoveOptions" name="removeOptions" value="" />
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="strText">題目文字</label>
                        <textarea name="strText" class="form-control" rows="10" id="strText" aria-required="true">{{ content }}</textarea>
                    </div>
                    <div class="col-md-6">
                        <label for="strExplain">作答後解釋</label>
                        <textarea name="strExplain" class="form-control" rows="10"  id="strExplain"aria-required="true">{{ explain }}</textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2 text-right">
                        <label class="control-label">答案選項</label>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-2 text-right"> 正解 </div>
                            <div class="col-md-8"> 選項內容 </div>
                        </div>
                        <div class="row option-add">
                            <div class="col-md-2 col-md-offset-10">
                                <button id="btnAddOption" class="btn btn-success" onclick="onAddOption()" type="button"><i class="glyphicon glyphicon-plus"></i></button>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">儲存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </form>
    </script>
</head>
<body class="container">

    <header>
        <% include partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-md-3">
            <button id="btnAddNew" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalNew">新增題目</button>
            </div>
            <div class="col-md-12">
                <% if (question) { %>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" class="manage-column">編號</th>
                                <!-- <th scope="col" class="manage-column">標題</th> -->
                                <th scope="col" class="manage-column">內容</th>
                                <th scope="col" class="manage-column">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% question.forEach(function(item){ %>
                            <tr>
                                <td><%= item.id %></td>
                                <!-- <td><%= item.title %></td> -->
                                <td><%= item.content %></td>
                                <td>
                                    <button class="btn btn-success" id="btnEdit-<%= item.id %>" value="<%= item.id %>" data-toggle="modal" data-target="#modalNew">編輯</button>
                                    <textarea style="display:none;" id="textData-<%= item.id %>">
                                    <%= JSON.stringify(item) %></textarea>
                                </td>
                            </tr>
                        <% }) %>
                        </tbody>
                    </table>
                <% } %>
            </div>
        </div>
    </main>

    <footer>
        <% include partials/footer %>
    </footer>

    <div id="modalNew" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
        <!-- Modal content-->
            <div class="modal-content">
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var previousKeep = "";
        var tplOptions = Handlebars.compile($("#tplOptions").html());
        var tplQuestions = Handlebars.compile($("#tplQuestions").html());
        function widgetBindEvent(optionRow){
            var tranEl = $("#tranRemoveOptions");
            var rowLastEl = $(optionRow);
            var radioEl = rowLastEl.find('input[name="optionCorrect"]');
            var textEl = rowLastEl.find('input[name="strOption"]');
            var idEl = rowLastEl.find('input[name="optionID"]');
            var buttonEl = rowLastEl.find('button');
            textEl.on('input', function(){ radioEl.val(this.value); });
            buttonEl.click(function(){ 
                var oid = idEl.val();
                if(oid){
                    var v = tranEl.val();
                    tranEl.val( v? (v + "," + oid) : oid );
                }
                rowLastEl.remove();
            });
        }
        // { id:String|Number, content:String, anwser:Bool }
        function initOptionWidgets(o){
            var isArray = Array.isArray(o);
            if(!isArray) o = [o];
            $("#modalNew .option-add").before( tplOptions( { options: o } ) );
            if(isArray) 
                $("#modalNew .option-row").each(function(){ widgetBindEvent(this); });
            else widgetBindEvent("#modalNew .option-row:last");
        }
        function onAddOption() {
            initOptionWidgets({ id: "", content: ""});
        }

        $("#btnAddNew").click(function(){
            if(previousKeep == "add") return;
            $("#modalNew .modal-content").html( tplQuestions( { 
                id: "", 
                action: "/console/question/add", 
                title: "新增題目", content: "", explain: "" 
            } ) );
            previousKeep = "add";
        });
        $("button[id^=btnEdit-]").click(function(){
            previousKeep = "edit";
            var text = $("#textData-" + this.value).text();
            var item = JSON.parse(text);
            $("#modalNew .modal-content").html( tplQuestions( { 
                id: this.value, 
                action: "/console/question/update",
                title: "更新題目",
                content: item.content,
                explain: item.explain
            } ) );
            initOptionWidgets(item.options);
        });
    </script>
</body>
</html>